extends layout.pug
block headers
	script(src="/js/angular.min.js")
	script(src="/js/sweetalert.min.js")
	script(src="/ng/dashboard.js")
	link(rel="stylesheet", href="/css/dashboard.css")
block navigation
	ul.nav.navbar-nav.navbar-right
		li.btn-group
			li.dropdown
				a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
					i.material-icons account_circle
					span.caret
				ul.dropdown-menu
					if user
						li
							span &nbsp; Hi #{user.name}
							br
							span &nbsp; Account Type:  #{user.role}
						li
							a(href='/users/logout') Logout
					else
						li
							a(href='/users/login') Login
						li
							a(href='/users/register') Register
block content
	div(ng-app="dashboard" ng-cloak)
		#dashboardDiv.container-fluid(ng-controller="dashboardController")
			.row
				.col-sm-3.col-md-3.sidebar
					ul.nav.nav-sidebar
						li
							a(href='/editor/?new')
								i.material-icons add
								| &nbsp; New Project
					ul#sidenav.nav.nav-sidebar(style="border-top: 1px solid #eee;")
						li(ng-repeat='item in projectMenu track by $index' ng-class='{active: currentProjectsType === item.key}')
							a(ng-click="switchProject($index)")
								i.material-icons {{item.icon}}
								| &nbsp; {{item.name}}
								| &nbsp;
								span.badge {{this[item.key].length}}
					ul.nav.nav-sidebar(style="border-top: 1px solid #eee;")
						li
							a(href="#")
								i.material-icons feedback
								| &nbsp; Feedback
				.col-sm-9.col-sm-offset-3.col-md-9.col-md-offset-3.main
					.col-sm-12
						.col-sm-6(style="display: inline-flex")
							h2
								| {{currentHeading || 'Loading...'}}

					.col-sm-12
						.col-sm-12(ng-if="currentProjects.length==0")
							h4 No Projects to show
						.tbl-projects.col-sm-12(ng-if="currentProjects.length != 0")
							.col-sm-12.sub-header(style="padding: 0px;")
								.col-sm-4(style="padding: 0px;")
									.input-group
										span.input-group-addon#search-icon(style="padding:5px 6px 0px 6px")
											i.material-icons search
										input.form-control(type='text',
														aria-describedby="search-icon",
														placeholder='Search Project',
														ng-model='searchFilter'
										)
							table.table.table-responsive.header-fixed(style="width:100%")
								thead
									tr
										th #
										th Project
										th Owner
										th Modified
										th Actions
								tbody
										tr(ng-repeat="project in currentProjects | filter:searchFilter track by $index")
											td {{$index + 1}}
											td
												span(ng-if='project.trashed' id='{{"projectName-" + $index}}')
													| {{project.projectName}} &nbsp;
												a(ng-if='!project.trashed' style="text-decoration: none;"
												  ng-href='{{"/editor/#" + project.projectKey}}')
													i.material-icons launch
													| &nbsp; {{project.projectName}}
												div(id='{{"editProjectName-" + $index}}' ng-if='project.canModify' style="display: none;")
													.input-group
														input.form-control(type="text",
															  ng-model='project.projectName',
															  max-length="30"
														)
														span.input-group-btn
															button.btn.btn-xs.btn-success(ng-click='saveProjectName($index)' style="height: 34px;")
																i.material-icons save
											td
												div.long-text
													| {{project.owner}}
											td {{project.blocks.updated_at| date: "short"}}
											td
												.dropdown
													a(href='#' ng-if='!project.trashed' ng-click="shareModal($index)")
														i.material-icons share
													a(ng-if='project.trashed'  ng-click='restoreProject($index)' style="cursor:pointer;text-decoration:none")
														i.material-icons restore
														| &nbsp; Restore
													a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true',  ng-if='project.canModify' aria-expanded='false')
														i.material-icons more_vert
													ul.dropdown-menu.dropdown-menu-right(ng-if='project.canModify')
														li(ng-if='!project.trashed')
															a(href='#' ng-click='renameProject($index)')
																i.material-icons create
																| &nbsp; Rename
														li
															a(href='#' ng-click='project.trashed?removeProject($index):trashProject($index)')
																i.material-icons {{project.trashed? 'delete_forever' : 'delete'}}
																| &nbsp; Delete

										tr.lastrow
											td &nbsp;
											td &nbsp;
											td &nbsp;
											td &nbsp;
											td &nbsp;
										tr.lastrow
											td &nbsp;
											td &nbsp;
											td &nbsp;
											td &nbsp;
											td &nbsp;
			.hide-element
				#shareModal(style="height: 50%;")
					h4.text-left Link to project
					input.form-control(readonly='readonly', type='text', id='projectLink'
						value='{{currentShareProject.link}}')
					.form-check.text-left(ng-if='currentShareProject.canModify')
						br
						input#publicToggle.form-check-input(type='checkbox',ng-change='changeVisibility(currentShareProject.public)',ng-model='currentShareProject.public')
						label.form-check-label(for='publicToggle' style="margin-left: 5px;")
							| Check to make public
					.h5.text-left(ng-if='!currentShareProject.canModify')
						| Project type: {{currentShareProject.public?'public':'private'}}
					h4.text-left Who has access
					div.col-sm-12(style="padding:0px;",ng-if="currentShareProject.canModify")
						.col-sm-6(style="padding:0px;")
							.input-group
									input.form-control(
											type="email",
											ng-model='addCollabEmail',
											placeholder="Add collaborator by email",
											style="width: 200px;",
											ng-keyup="$event.keyCode == 13 ? changeShareAccess(addCollabEmail,'add'): null"
									)
									span.input-group-btn
										button.btn.btn-xs.btn-primary(style="height: 34px;" ng-click="changeShareAccess(addCollabEmail,'add')")
											i.material-icons add
							div.text-left#addCollabFlash
						br
						br
					.col-sm-12(style="border-top:1px solid #eee")
					table.table.header-fixed
						tbody(style="height: 300px")
							tr
								td(style="width: 200px;margin-right: 11%;border:0px;")
									| {{currentShareProject.owner}}
								td(style="width: fit-content;margin-right: 11%;border:0px;")
									| Owner
							tr(ng-repeat="collaborator in currentShareProject.collabList")
								td(style="width: 200px;margin-right: 11%;border:0px;")
									| {{collaborator.split("[dot]").join(".")}}
								td(style="width: fit-content;margin-right: 11%;border:0px;")
									.dropdown
										i.material-icons {{getCollabIcon(currentShareProject.collaborators[collaborator])}}
										a.dropdown-toggle(ng-if="currentShareProject.canModify"
											href='#',
											data-toggle='dropdown',
											role='button', aria-haspopup='true',
											aria-expanded='false'
										)
											i.material-icons arrow_drop_down
										ul.dropdown-menu.dropdown-menu-right(
											ng-if="currentShareProject.canModify"
										)
											li
												a(href='#' ng-click="changeShareAccess(collaborator,'view')")
													i.material-icons remove_red_eye
													| &nbsp; View
											li
												a(href='#' ng-click="changeShareAccess(collaborator,'edit')")
													i.material-icons create
													| &nbsp; Edit
											li
												a(href='#' ng-click="changeShareAccess(collaborator,'admin')")
													i.material-icons work
													| &nbsp; Admin
								td(style="width: fit-content;border:0px;",ng-if="currentShareProject.canModify")
									a(href='#' ng-click="changeShareAccess(collaborator,'remove')")
										i.material-icons delete
