doctype html
html
	include head.pug
	body
		if !user
			script.
				var anonymous = true;
		else
			script.
				var anonymous = false;
		nav.navbar.navbar-default
			.navbar-header
				button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navigation', aria-expanded='false')
					span.sr-only Toggle navigation
					span.icon-bar
					span.icon-bar
					span.icon-bar
				a.navbar-brand(href="/", style="cursor: pointer;")
					img(src='/media/icon.png')
			#navigation.collapse.navbar-collapse
				ul.nav.navbar-nav
					li
						a#projectName(style="cursor: default;")
							| Untitled Project
						if user
							#editProjectName(style="margin-top: 8px;margin-left: 8px; display: none;")
								.form-group(style="display: inline-flex;")
									input#editProjectInput.form-control(
										type="text",
										placeholder="Untitled Project",
										max-length="30",
										value='Untitled Project')
									button#editProjectSaveButton.btn.btn-xs.btn-success
										i.material-icons save


					li.btn-group
						if user
							li.dropdown
								a.dropdown-toggle(style="cursor:pointer", data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
									| File
									span.caret
								ul.dropdown-menu
									li
										a(href='/editor/?new')
											i.material-icons add
											| &nbsp; New Project
									li.divider(role='separator')
									li
										a#saveButton(style="cursor:pointer")
											i.material-icons save
											| &nbsp; Save Project
									li
										a#renameButton(style="cursor:pointer")
											i.material-icons create
											| &nbsp; Rename Project
									li
										a#cloneButton(style="cursor:pointer;")
											i.material-icons content_copy
											| &nbsp; Make a copy
									li.divider(role='separator')
									li
										a#reloadButton(style="cursor:pointer" onclick="window.location.reload();")
											i.material-icons restore
											| &nbsp; Reload Project
									li
										a#downloadProjectButton(style="cursor:pointer")
											i.material-icons cloud_download
											| &nbsp; Download project (coming soon)
					li.btn-group
						li.dropdown
							a.dropdown-toggle(style="cursor:pointer", data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
								| Workspace
								span.caret
							ul.dropdown-menu
								li
									a.runButton(style="cursor:pointer")
										i.material-icons play_arrow
										| &nbsp; Run Project
								li.divider(role='separator')
								li
									a#trashButton(style="cursor:pointer")
										i.material-icons delete
										| &nbsp; Reset Workspace
					li.btn-group
						li.dropdown
							a.dropdown-toggle(style="cursor:pointer", data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
								| Datasets
								span.caret
							ul#menuDatasetImport.dropdown-menu
								li
									a(style="cursor:pointer" onclick='Datasets.triggerClick()')
										i.material-icons file_upload
										| &nbsp; Upload CSV Dataset
								li.divider(role='separator')
								li
									h5
										| &nbsp; Built In Datasets
					li
						a.runButton(style="cursor:pointer; color: green;")
							i.material-icons play_circle_filled
							| Run


				ul.nav.navbar-nav.navbar-right
					li
						h6#statusBar(style="margin-top: 20px;")
							if !user
								| You cannot save this project. Please login to save.
							else if newProj
								| Your project is not saved yet.
								input(id="newProjInput" type="hidden", value="new")
					li
						img#loadingDiv(style="display: none;width:50px;",src="/media/loading.gif")
					li
						button#sidebarToggleButton.navbar-toggle.toggle-right(type='button', data-toggle='sidebar', data-target='#sidebar')
							span.icon-bar
							span.icon-bar
							span.icon-bar
					if user
						li
							a(href='/users/projects' style="cursor:pointer; color: #3F51B5;")
								i.material-icons dashboard
								| &nbsp; My Projects
					li.btn-group
						li.dropdown
							a.dropdown-toggle(style="cursor:pointer", data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
								i.material-icons account_circle
								span.caret
							ul.dropdown-menu
								if user
									li
										h4 &nbsp Hi #{user.name}
									if (user.role == 'faculty')
										li
											a(href='')
												i.material-icons verified_user
												| &nbsp Faculty Account
									li
										a(href='/users/logout')
											i.material-icons input
											| &nbsp; Logout
								else
									li
										a(href='/users/login')
											i.material-icons account_box
											| &nbsp; Login
									li
										a(href='/users/register')
											i.material-icons assignment
											| &nbsp; Sign Up


			br
			ul.nav.nav-tabs
				li.active(role='presentation')
					a#tab_blocks.tabon(style="cursor:pointer")
						i.material-icons extension
						| &nbsp; Workspace
				li(role='presentation')
					a#tab_data.taboff(style="cursor:pointer")
						i.material-icons find_in_page
						| &nbsp; Data Explorer
				li(role='presentation')
					a#tab_javascript.taboff(style="cursor:pointer")
						i.material-icons code
						| &nbsp; Code
				li(role='presentation')
					a#tab_xml.taboff(style="cursor:pointer")
						i.material-icons bug_report
		#content_blocks.content
			.container-fluid.zero-margin
				.row
					.col-sm-7
						#content_workspace(style="height: 88vh; width: 100%;")
					#outputs.col-sm-5.scroll.zero-margin.pull-right
						#graph_output(style="display: none")
						#chart(style="display:none")
						#kmeans.kmeans-chart(style='display:none')
						#drawCanvasDiv(style="display:none")
							canvas#drawCanvas(width='500', height='300')
							a#clear(href='#') Clear
						#misc_output
						#console_holder(style="display: none")
							h3 Console Output
							#console_javascript
		#content_data.content
			.container-fluid
				.row.scroll(style="height:70vh;")
					.col-sm-4
						.panel.panel-default
							// Default panel contents
							.panel-heading
								h3 Data Explorer
							.panel-body
								h6 Import Datasets from the menubar and click on Dataset below.
								// List group
								#dataset_list.list-group
						#datasetMeta.panel.panel-default(style="display:none;")
							// Default panel contents
							.panel-heading
								h4 Dataset Properties
							.panel-body
								table#datasetMetaBody.table
								p Note: Type information is inferred from data and is only representative.


						input#fileLoader(type="file", name="files", onchange= "Datasets.uploadDataset(event)",style = "display : none")
					.col-sm-7
						.col-sm-12
							#dataGrid(style='width:100%;height:500px;')
							#dataPager(style='width:100%;height:20px;')
		#content_javascript.content
			.container-fluid
				.row
					.col-sm-6
						h3 Generated JS
						pre#source_javascript.code
		#content_xml.content
			.container-fluid
				.row
					.col-sm-12
						h3 Generated XML
						textarea#content_xml_text(wrap="off",cols=100, rows=20)
		#sidebar.col-xs-7.col-sm-5.col-md-5.sidebar.sidebar-right.sidebar-animate(ng-app='SidebarApp' ng-cloak)
			div(ng-controller="SidebarController")
				.heading
					a(onclick="$.sidebar.lockToggle()",style="cursor:pointer")
						i.material-icons#pinHolder lock_open
					| &nbsp;&nbsp;
					a(ng-click="toggleEditor()", ng-if="canModify" style="cursor:pointer")
						i.material-icons#editorToggle {{isEditing ? 'save':'create'}}
					| &nbsp;&nbsp;
					a(ng-click="addPage()", ng-if="canModify && !isEditing" style="cursor:pointer")
						i.material-icons#addPageButton add
					| &nbsp;&nbsp;
					a(ng-click="removePage()", ng-if="canModify && !isEditing" style="cursor:pointer")
						i.material-icons#deletePageButton delete
				#pageEditor(style="{{isEditing?'':'display: none;'}}")
					div#editorContainer
						textarea#sidebarEditor(wrap="off",cols=100, rows=20)
					p {{'Page: ' + (selectedPage + 1)}}

				#pagination-container(ng-if="!isEditing")
					ul.pagination
						li(data-page='-' ng-click="prevPage()")
							a(style="cursor:pointer") &lt;
						li(ng-repeat="page in pages track by $index" ng-click='selectPage($index)' class="{{selectedPage === $index?'active':''}}")
							a(style="cursor:pointer") {{$index+1}}
						li(data-page='+' ng-click="nextPage()")
							a(style="cursor:pointer") &gt;
					div(ng-repeat="page in pages track by $index" style="{{selectedPage === $index?'':'display:none'}}" id="{{'sidebar_page_'+($index+1)}}" data-page='{{$index+1}}', class="page-data")
						div(id="{{'sidebar_content_' + ($index+1)}}" class="col-md-12" ng-bind-html="page  | trust")




		script(src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js?config=TeX-MML-AM_CHTML" defer)
		include toolbox.html
		#snackbar
		#init_xml_text(style="display:none")
			|	#{starterBlocks}
